<div class="container p-0 mt-5">
    <div class="container-fluid mp-0">
        <div class="row">
            <div class="col-4 center bg-white hov-bg-mid-lig-white-gray border c-pointer box-text">
                <a href="{% url 'simplepronosinputdata' %}{{parameters}}" class="text-dark">
                    <div style="height:275px;" class="center hov-traslated-down-up">
                        <div>
                            <h5 class="font-weight-bold">Pronosticos Simples</h5>
                            <i class="fas fa-chart-bar font-size-26px"></i>
                            <p class="font-size-14px">
                                En esta sección podrá realizar pronósticos encontrando 
                                el resultado más asertivo analizando todos los datos 
                                históricos en una sola línea temporal. 
                            </p>
                        </div>
                    </div>    
                </a>          
            </div>

            <div class="col-4 center bg-white hov-bg-mid-lig-white-gray border c-pointer box-text">
                <a href="{% url 'alphapronosinputdata' %}{{parameters}}" class="text-dark">
                    <div style="height:275px;" class="center hov-traslated-down-up">
                        <div>
                            <h5 class="font-weight-bold">Pronosticos Alpha</h5>
                            <i class="fas fa-balance-scale font-size-26px"></i>
                            <p class="font-size-14px">
                                En esta sección podrá realizar pronósticos que analizan los 
                                datos según los periodos establecidos en el mismo (Meses, semanas, días)
                                brindando un pronóstico que proyecta mejores resultados                      
                            </p>
                        </div>
                    </div>    
                </a>                      
            </div>

            <div class="col-4 center bg-white hov-bg-mid-lig-white-gray border c-pointer box-text">
                <a href="{% url 'mrpinputdata' %}{{parameters}}" class="text-dark">                
                    <div style="height:275px;" class="center hov-traslated-down-up">
                        <div>
                            <h5 class="font-weight-bold">Mrp</h5>
                            <i class="fas fa-bezier-curve font-size-26px"></i>
                            <p class="font-size-14px">
                                Es un sistema el cual establece las cantidades y costos de producción en un
                                horizonte de planeacion, realizando un procedimiento que establece los 
                                componentes y materias primas en unos tiempos determinados.                        
                            </p>
                        </div>
                    </div>    
                </a>                      
            </div>

        </div>    
    </div>
</div>
<div>
    <div class="center py-5">
        <div style="width:90%;max-width:920px;background:rgba(255,255,255,0.9);">
            Talk to us! We promise we can help you!
            You Can Trust Us To Get You The justice You Deserve.
            Call now +1234 5677 89
        </div>
    </div>
</div>