{% extends 'core/App/app.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
    {% load static %}    
    <link rel="stylesheet" href="{% static 'core/css/header/headerNew.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home/home.css' %}">     
{% endblock %}


{% block content %}
    {% include 'core/Navbar/NavbarNew.html' %}

    <section style="background-color:#152335;">
        {% include 'core/Home/Header/HeaderNew.html' %}
        {% include 'core/Home/Section/Section.html' %}
        {% include 'core/Home/Footer/Footer.html' %}
    </section>
    
{% endblock content %}

{% block scripts %}
    <script src="{% static 'core/vendor/language-component/language-component.js' %}"></script>
    {% comment %}
    <script src="{% static 'core/vendor/language-component/home/language-dataset.js' %}"></script>
    <script src="{% static 'core/helpers/Navbar/mediaResize.js' %}"></script>
    <script src="{% static 'core/js/Triggers/dataToggleCollapse.js' %}"></script>

    Background : gris oscuro
    Navbar con Home, Pronosticos, Mrp, Quienes Somos -> con la mision y la vision y contactanos con un campo de email, y lenguage
    (se va a utilizar ahora en los pronosticos y Mrp)

    El texto a la izquierda del man se remplaza con el texto de inicio de la empresa ,En vez del man una grafica, 

    Los cuadros blancos con hover azul aguamarina o naranja, solo 3 cuadros, titulo icono pero tendra texto explicando muy muy resumido

    Explicaciones de cada modulo

    imagen economia, inventario, planificacion, 

    videos de explicacion, al lado de las explicaciones

    Footer como en el ejemplo (lo mismo con la barra de inicio) y simbolo de facebook y twitter, correo electronco y una direccion fisica
    (mirar si color blanco o background de piedras)


    <div class="col-3 pt-5 mt-5">
        <h2 class="font-jelle font-size-20px-2c letter-spacing-1px mt-5">Correo</h2>
        <p class="font-quicksand font-size-13px letter-spacing-1px">guacastrategy@gmail.com</p>    
        <h2 class="font-jelle font-size-20px-2c letter-spacing-1px mt-5">Dirección</h2>
        <p class="font-quicksand font-size-13px letter-spacing-1px">Calle 39 Bis B #29-22</p>                       
    </div>

    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    {% endcomment %}
{% endblock scripts %}