{% load static %}
<section class="text-center" style="margin-top:100px;margin-bottom:25px;background-image:url({% static 'core/img/background-04.png' %});">
    <hr><br><br>
    <h5 class="font-alegreya-sans font-size-24px my-3" style="color:#898989;">
        <span language="true"> Si no dispones de un archivo de Excel puedes optar por crear tu entrada de datos a partir de nuestra tabla </span>
        <span> {% include "core/Modal/ModalButton.html" with modalId="#modalTable" %} </span>
    </h5>
    <button class="btn btn-outline-secondary font-weight-bold font-alegreya-sans mt-2 mb-2" id="button-create-table" language="true">CREAR LA TABLA</button>
    <br><br><hr>
</section>