{% load static %}
<footer class="bg-white text-white" style="background-image:url({% static 'core/img/background-03.png' %});">
    <div class="container pt-5">
        <div class="row mt-5">
            
            <div class="col-12 col-sm-12 col-md-4">
                <div class="d-flex bg-primary">
                    <img src="{% static 'core/img/Logo-nombre.jpg' %}" width="100%" style="border-radius:5px;">
                    {% comment %}
                    <div class="w-100 bg-white-gray center">
                        <h6 class="font-signika text-dark font-weight-bold">RESOURCE BEACON</h6>
                    </div>
                    {% endcomment %}
                </div>
                
                <p class="font-quicksand font-size-14px-2c text-justify color-white-gray mt-2" language="true">
                    Somos una página web única, la cual pone a su disposición herramientas de ingeniería, que le 
                    permitirán realizar un mejor análisis de los datos. Mejorando la efectividad y planificación 
                    de los recursos, con el fin de poder tomar mejores decisiones.                
                </p>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <ul class="list-no-decorator pt-2">
                    <li class="font-signika font-size-19px-2c font-weight-bold text-white mb-3">LINKS</li>
                    <li class="font-alegreya-sans font-size-18px-2c mb-4"><a href="{% url 'simplepronosinputdata' %}{{parameters}}" class="color-white-gray" language="true">Pronósticos Simples</a></li>
                    <li class="font-alegreya-sans font-size-18px-2c my-4"><a href="{% url 'alphapronosinputdata' %}{{parameters}}" class="color-white-gray" language="true">Pronósticos Alpha</a></li>
                    <li class="font-alegreya-sans font-size-18px-2c my-4"><a href="{% url 'mrpinputdata' %}{{parameters}}" class="color-white-gray">MRP</a></li>
                    <li class="font-alegreya-sans font-size-18px-2c mt-4"><a href="{% url 'aboutus' %}{{parameters}}" class="color-white-gray" language="true">¿Quienes Somos?</a></li>
                    <li class="font-alegreya-sans font-size-18px-2c mt-4"><a href="{% url 'contactus' %}{{parameters}}" class="color-white-gray" language="true">Contacto</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="font-quicksand font-size-14px-2c pt-2">
                    <h6 class="font-signika font-size-19px-2c font-weight-bold text-white mb-3" language="true">CONTACTO Y REDES</h6>
                    <img src="{% static 'core/img/gmail.png' %}" width="30px">
                    <strong language="true">Correo:</strong> resourcebeaconinfo@gmail.com

                    <br/><br/>
                    <img src="{% static 'core/img/address.png' %}" width="30px">
                    <strong language="true">Dirección:</strong> 353 W Niagara Ave Astoria. Oregon. USA | Cl. 7a Bis C #78f - 33. Bogotá. Colombia.
                    <hr>
                    <a href="#"><img src="{% static 'core/img/facebook.png' %}" width="30px"></a>
                    <a href="#" class="pl-1"><img src="{% static 'core/img/twitter.png' %}" width="30px"></a>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <p class="font-size-13px float-left" language="true">Copyright © 2018 Todos los derechos reservados</p>
            <p class="font-size-13px float-right">Developed by Aico CC</p>
        </div>
    </div>
</footer>