
header{
    height: 138px;
	-webkit-background: linear-gradient(#d8d8d8,#e8e8e8,#f4f4f4);
    -moz-background: linear-gradient(#d8d8d8,#e8e8e8,#f4f4f4);
    -ms-background: linear-gradient(#d8d8d8,#e8e8e8,#f4f4f4);
	background: linear-gradient(#d8d8d8,#e8e8e8,#f4f4f4);    
}

header > div > div a{
    font-weight: bold;
    color: #7b7e82;
}
header > div > div a.active{color: #17a2b8;}
header > div > div a.active:hover{color: #1190a3;}



