/* CSS DOCUMENT */

header{
    background-image: linear-gradient(to right,rgba(153, 146, 143, 0.8) 0%,rgba(55, 66, 168,0.7) 100%),url('../../img/stock_1.jpg');
    background-size: cover;   
    background-blend-mode: multiply;
}

header div.container-fluid, header div.row{
    min-height: calc(100vh - 75px) !important;
}

.header-title{
    padding-top:200px;
}



@media (max-width: 768px){
    .header-title{padding-top: 50px;}
}

.div-column-no-complete{
    width: 70% !important;
    height: 100%;
}
.header-image{
    height: 80%;
    min-height: 300px;
    max-height: 700px;
}