{% load static %}
<div class="hr-line my-5" style="border-color: #423f3f !important;"></div>
<div>
    <div class="container-fluid text-white">
        <div class="row">
            {% if not inverse %}
            <div class="col-12 col-md-6 center">
                <div class="text-left" style="padding-left:7%;">
                    <h2 class="font-signika font-weight-bold mt-5">{{title}}</h2>
                    <p class="font-alegreya-sans font-size-20px-2c letter-spacing-2px color-mid-lig-white-gray">
                        {{text}}
                    </p>                
                </div>
            </div>
            <div class="col-12 col-md-6 center">
                <video src="{% static '' %}{{video}}" width="100%" controls style="border-radius:4px;max-height:480px;"></video>	
            </div>
            {% else %}
            <div class="col-12 col-md-6 center">
                <video src="{% static '' %}{{video}}" width="100%" controls style="border-radius:4px;max-height:480px;"></video>	
            </div>
            <div class="col-12 col-md-6 center">
                <div class="text-left" style="padding-left:7%;">
                    <h2 class="font-signika font-weight-bold mt-5">{{title}}</h2>
                    <p class="font-alegreya-sans font-size-20px-2c letter-spacing-2px color-mid-lig-white-gray">
                        {{text}}
                    </p>                
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>