{% extends 'core/app.html' %}

{% block title %}Graficos{% endblock %}

{% block styles %}
    {% load static %}   
    <link rel="stylesheet" href="{% static 'core/css/pronoalpha/graphicspronoalpha.css' %}">
{% endblock %}

{% block navigator %}
    <p style="margin: 0 0 !important;padding: 0 0 !important;">
        <a href="{% url 'alphapronosinputdata' %}{{parameters}}" language="true">Entrada de Datos</a> <i class="fas fa-angle-double-right"></i> <a href="{% url 'alphapronosgraph' %}{{parameters}}" class="active" language="true">Pronósticos</a>
    </p>
{% endblock %}

{% block content %}
    <section class="my-4">

        {% include 'core/tag-block.html' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 my-1">

                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true">GRÁFICA COMPLETA <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body" graph_full_modal="1" style="cursor:pointer;">
                            <canvas id="line-chart-01"></canvas>    
                        </div>
                    </div> 

                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 my-1">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true">GRÁFICA POR PERIODOS <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body" graph_full_modal="2" style="cursor:pointer;">
                            <canvas id="line-chart-02"></canvas>    
                        </div>
                    </div> 

                </div>                
            </div>
        </div>
    </section>

    <section class="center my-4">
        <div class="card" style="width: 90%;">
            <div class="card-header">
                <span language="true" name-best-forecast="true">GRÁFICA DEL MEJOR PRONÓSTICO<i class="fas fa-chart-area"></i></span>
            </div>
            <div class="card-body">
                <canvas id="line-chart-03"></canvas>    
            </div>
            <div class="card-footer">
                <p class="float-right mt-2 mr-3 font-size-20px-2c font-weight-bold text-muted">Nivel de Certeza: <span best_corre="true">0.95</span></p>
                <div style="width:100%;display:block;">
                    <table class="table mx-auto table-responsive-md" style="width:96%;" best-forecast="true">
                        <thead>
                            <tr>
                                <th class="text-white font-size-18px-2c bg-dark">Indice</th>  
                            </tr>
                        </thead>
                        <tbody>   
                            <tr>
                                <td class="text-white font-size-18px-2c bg-dark">Pronostico</td>
                            </tr>                                       
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>        
    </section>

    <section class="my-4">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">

                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="4">MÉTODO LINEAL <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-04"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="4" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="5">MÉTODO EXPONENCIAL <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-05"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="5" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="6">MÉTODO CUADRÁTICO <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-06"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="6" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="7">PROMEDIO MÓVIL N=2 <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-07"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="7" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="8">PROMEDIO MÓVIL N=3 <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-08"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="8" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="9">PROMEDIO MÓVIL COMPUESTO <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-09"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="9" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="10">PROMEDIO MÓVIL PONDERADO <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-10"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="10" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>                                

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="11">SUAVIZACIÓN EXPONENCIAL SIMPLE <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-11"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="11" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span language="true" title-line-chart="12">SUAVIZACIÓN EXPONENCIAL DOBLE <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-12"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="12" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span title-line-chart="13">
                            WINTERS <i class="fas fa-chart-area"></i>
                            </span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-13"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="13" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span title-line-chart="14">
                            BOX & JENNKIN <i class="fas fa-chart-area"></i>
                            </span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-14"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="14" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>  

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-4">
                
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <span title-line-chart="15" language="true">SIMULADO <i class="fas fa-chart-area"></i></span>
                        </div>
                        <div class="card-body">
                            <canvas id="line-chart-15"></canvas>    
                        </div>
                        <div class="card-footer">
                            <button class="text-center btn btn-danger btn-block" btn-line-chart="15" btn-flag-chart="1"><strong language="true">VER DETALLES</strong></button>
                        </div>                        
                    </div> 

                </div>                                                                                              

            </div>
        </div>
    </section>

{% endblock %}

{% block modal %}
    <div class="modal fade" id="modalExample" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: rgba(0,0,0,0.75) !important;">
        <div class="modal-dialog modal-dialog-centered center" role="document" style="width: 90% !important;max-width: 90% !important;">
            <div class="modal-content">
                <div class="modal-header" style="background-image:url({% static 'core/img/background-04.png' %});">
                    
                    <div class="w-100 pl-5">
                        <h5 class="modal-title font-lato font-size-27px-3c font-weight-bold" id="exampleModalLabel" style="color:orange;text-shadow: 1px 0px 1px #684900;"></h5>
                    </div>
                    
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="line-chart-20"></canvas>
                    <br>
                    <!--<p>La correlacion con el ultimo año fue de : <span id="correlation">0.95</span></p>-->
                    <table class="table">
                        <thead class="bg-info">
                            <tr> <!-- style="color:#6a6c6f;" -->
                                <th class="font-alegreya-sans font-size-26px-3c text-white" language="true">Nivel de Certeza</th>
                            </tr>
                        </thead>
                        <tbody class="bg-light">
                            <tr>
                                <td id="correlation" class="hov-scale c-pointer font-quicksand font-size-24px-3c" style="color:#435165;">0.95 <span>%</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="width:100%;display:block;">
                        <table class="table mx-auto table-responsive-md" style="width:96%;" forecast-table="true" forecast-alpha="1">
                            <thead>
                                <tr>
                                    <th class="text-white font-size-22px-2c bg-dark" fore-title="true">Indice</th>  
                                </tr>
                            </thead>
                            <tbody>   
                                <tr>
                                    <td class="text-white font-size-22px-2c bg-dark" language="true">Pronostico</td>
                                </tr>                                       
                            </tbody>
                        </table>                    
                    </div>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-primary my-2" onclick="downloadChart()" language="true">Descargar Imagen</button>
                        <a href="/pronosticos-alpha/download" link-post='true' line-chart='0' class="btn btn-success" language="true">Descargar Excel</a>
                    </div>            
                    <a href="#" id="link-download" style="visibility:hidden;"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block modal_graph_complete %}
    <div class="modal fade" id="modalFull" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: rgba(0,0,0,0.75) !important;">
        <div class="modal-dialog modal-dialog-centered center" role="document" style="width: 90% !important;max-width: 90% !important;">
            <div class="modal-content">
                <div class="modal-header">                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="line-chart-30"></canvas>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/vendor/language-component/graphicspronoalpha/language-dataset.js' %}"></script>
    <script src="{% static 'core/js/tag-graphic.js' %}"></script>    
    <script src="{% static 'core/vendor/chartjs-2.7.3/Chart.min.js' %}"></script>
    <script src="{% static 'core/vendor/chartjs-2.7.3/utils.js' %}"></script>
    <script src="{% static 'core/vendor/chartjs-2.7.3/line-chart-global.js' %}"></script>
    <script src="{% static 'core/vendor/chartjs-2.7.3/line-chart-02.js' %}"></script>
    <script src="{% static 'core/vendor/chartjs-2.7.3/download-chart.js' %}"></script>
    <script src="{% static 'core/js/modal-graphic.js' %}"></script>
    <script src="{% static 'core/js/link-to-post-link.js' %}"></script>

    <script>
        var TOKEN = "{{csrf}}"
        var data_request_django = "{{data|escapejs|safe}}"
        var data_django = JSON.parse(data_request_django) // borrar despues
        //data_request_django = JSON.parse(data_request_django).join(";")
        var lineal = JSON.parse("{{lineal|escapejs|safe}}")
        var lineal_corre = JSON.parse("{{lineal_corre|escapejs|safe}}")
        var expo = JSON.parse("{{expo|escapejs|safe}}")
        var expo_corre = JSON.parse("{{expo_corre|escapejs|safe}}")
        var cuadra = JSON.parse("{{cuadra|escapejs|safe}}")
        var cuadra_corre = JSON.parse("{{cuadra_corre|escapejs|safe}}")
        var movil_2 = JSON.parse("{{movil_2|escapejs|safe}}")
        var movil_2_corre = JSON.parse("{{movil_corre_2|escapejs|safe}}")
        var movil_3 = JSON.parse("{{movil_3|escapejs|safe}}")
        var movil_3_corre = JSON.parse("{{movil_corre_3|escapejs|safe}}")
        var movil_composed = JSON.parse("{{movil_composed|escapejs|safe}}")
        var movil_composed_corre = JSON.parse("{{movil_composed_corre|escapejs|safe}}")
        var movil_pondered = JSON.parse("{{movil_pondered|escapejs|safe}}")
        var movil_pondered_corre = JSON.parse("{{movil_pondered_corre|escapejs|safe}}")                
        var simple_soft = JSON.parse("{{simple_soft|escapejs|safe}}")
        var simple_soft_corre = JSON.parse("{{simple_soft_corre|escapejs|safe}}")
        var double_soft = JSON.parse("{{double_soft|escapejs|safe}}")
        var double_soft_corre = JSON.parse("{{double_soft_corre|escapejs|safe}}")
        var winters = JSON.parse("{{winters|escapejs|safe}}")
        var winters_corre = JSON.parse("{{winters_corre|escapejs|safe}}")
        var jenkin = JSON.parse("{{jenkin|escapejs|safe}}")
        var jenkin_corre = JSON.parse("{{jenkin_corre|escapejs|safe}}")
        var simu = JSON.parse("{{simu|escapejs|safe}}")
        var simu_corre = JSON.parse("{{simu_corre|escapejs|safe}}")
        
        var flag_language = getCurrentLanguage() == 'ES'

        var best_corre = Math.max(lineal_corre,expo_corre,cuadra_corre,movil_2_corre,movil_3_corre,movil_composed_corre,movil_pondered_corre,
        simple_soft_corre,double_soft_corre,winters_corre,jenkin_corre,simu_corre)
        //var best_forecast = get_best_forecast(best_corre,
        //    [simu_corre,jenkin_corre,winters_corre,double_soft_corre,simple_soft_corre,movil_pondered_corre,movil_composed_corre,movil_3_corre,movil_2_corre,cuadra_corre,expo_corre,lineal_corre],
        //    [simu,jenkin,winters,double_soft,simple_soft,movil_pondered,movil_composed,movil_3,movil_2,cuadra,expo,lineal])
        var dict_best_forecast = get_best_forecast(best_corre,
            [simu_corre,jenkin_corre,winters_corre,double_soft_corre,simple_soft_corre,movil_pondered_corre,movil_composed_corre,movil_3_corre,movil_2_corre,cuadra_corre,expo_corre,lineal_corre],
            [simu,jenkin,winters,double_soft,simple_soft,movil_pondered,movil_composed,movil_3,movil_2,cuadra,expo,lineal],
            [["SIMULADO","SIMULATED"],["BOX & JENNKIN","BOX & JENNKIN"],["WINTERS","WINTERS"],["SUAVIZACIÓN EXPONENCIAL DOBLE","DOUBLE EXPONENTIAL SOFTENING"],
            ["SUAVIZACIÓN EXPONENCIAL SIMPLE","SINGLE EXPONENTIAL SOFTENER"],["PROMEDIO MÓVIL PONDERADO","PONDERED MOBILE AVERAGE"],["PROMEDIO MÓVIL COMPUESTO","COMPOSED MOBILE AVERAGE"],
            ["PROMEDIO MÓVIL N=3","MOBILE AVERAGE N=3"],["PROMEDIO MÓVIL N=2","MOBILE AVERAGE N=2"],["MÉTODO CUADRÁTICO","QUADRAPHIC METHOD"],["MÉTODO EXPONENCIAL","EXPOSITIONAL METHOD"],
            ["MÉTODO LINEAL","LINEAR METHOD"]],flag_language)
        best_forecast = dict_best_forecast["forecast"]
        best_name_forecast = dict_best_forecast["name"]

        django_x_label_chart_01 = get_language_text( (data_django[0].length > 7), ["MESES TOTALES","DIAS TOTALES","TOTAL MONTHS","TOTAL DAYS"])
        django_list_data_chart_01 = [].concat.apply([], data_django)
        django_list_labels_chart_01 = Array.from(Array(django_list_data_chart_01.length).keys()).map(x => ++x)

        django_x_label_chart_02 = get_language_text( (data_django[0].length > 7), ["AÑOS","SEMANAS","YEARS","WEEKS"])
        django_list_data_chart_02 = data_django
        django_list_labels_chart_02 = Array.from(Array(data_django[0].length).keys()).map(x => ++x)

        data_django_last_row = data_django[data_django.length-1]
        year_label =  flag_language ? 'Datos históricos' : 'Historical facts'
        prono_label = flag_language ? 'Pronostico' : 'Forecast'
        corre_label = flag_language ? 'Correlacion' : 'Correlation'

        forecasts_labels_x = get_language_text( (data_django[0].length > 7), ["MESES","DIAS","MONTHS","DAYS"])

        django_x_label_chart_03 = forecasts_labels_x
        django_list_data_chart_03 = best_forecast
        django_list_labels_chart_03 = django_list_labels_chart_02
        
        django_list_data_chart_04 = lineal
        django_list_labels_chart_04 = django_list_labels_chart_02

        django_list_data_chart_05 = expo
        django_list_labels_chart_05 = django_list_labels_chart_02

        django_list_data_chart_06 = cuadra
        django_list_labels_chart_06 = django_list_labels_chart_02
        
        django_list_data_chart_07 = movil_2
        django_list_labels_chart_07 = django_list_labels_chart_02

        django_list_data_chart_08 = movil_3
        django_list_labels_chart_08 = django_list_labels_chart_02

        django_list_data_chart_09 = movil_composed
        django_list_labels_chart_09 = django_list_labels_chart_02

        django_list_data_chart_10 = movil_pondered
        django_list_labels_chart_10 = django_list_labels_chart_02

        django_list_data_chart_11 = simple_soft
        django_list_labels_chart_11 = django_list_labels_chart_02

        django_list_data_chart_12 = double_soft
        django_list_labels_chart_12 = django_list_labels_chart_02

        django_list_data_chart_13 = winters
        django_list_labels_chart_13 = django_list_labels_chart_02

        django_list_data_chart_14 = jenkin
        django_list_labels_chart_14 = django_list_labels_chart_02

        django_list_data_chart_15 = simu
        django_list_labels_chart_15 = django_list_labels_chart_02      

        function get_language_text(condition,texts){
            switch(getCurrentLanguage()){
                case 'ES':
                    return condition ? texts[0] : texts[1]
                    break
                case 'EN':
                    return condition ? texts[2] : texts[3]
                    break
                default:
                    return condition ? texts[0] : texts[1]
                    break
            }
        } 

        //function get_best_forecast(best_corre,list_correlations,list_forecasts){
        //    return list_forecasts[list_correlations.indexOf(best_corre)]
        //}
        function get_best_forecast(best_corre,list_correlations,list_forecasts,names_forecasts,flag_language){
            var index = list_correlations.indexOf(best_corre)
            return {"forecast" : list_forecasts[index],"name":names_forecasts[index][flag_language & 1]}
        }
    </script>

    <script>
        var chart1,chart3,chart4,chart5,chart6,chart7,chart8,chart9,chart10,chart11,chart12,chart13,chart14,chart15;
        window.addEventListener("load",createChars,false);

        function createChars(){

            chart1 = createCharWithLabel('line-chart-01', django_list_labels_chart_01, django_list_data_chart_01,django_x_label_chart_01);
            chart3 = createChar('line-chart-03', django_list_labels_chart_03, django_list_data_chart_03,data_django_last_row);
            $("span[best_corre]").html(best_corre+'%')
            chart4 = createChar('line-chart-04', django_list_labels_chart_04, django_list_data_chart_04,data_django_last_row);
            chart5 = createChar('line-chart-05', django_list_labels_chart_05, django_list_data_chart_05,data_django_last_row);
            chart6 = createChar('line-chart-06', django_list_labels_chart_06, django_list_data_chart_06,data_django_last_row);
            chart7 = createChar('line-chart-07', django_list_labels_chart_07, django_list_data_chart_07,data_django_last_row);
            chart8 = createChar('line-chart-08', django_list_labels_chart_08, django_list_data_chart_08,data_django_last_row);
            chart9 = createChar('line-chart-09', django_list_labels_chart_09, django_list_data_chart_09,data_django_last_row);
            chart10 = createChar('line-chart-10', django_list_labels_chart_10, django_list_data_chart_10,data_django_last_row);
            chart11 = createChar('line-chart-11', django_list_labels_chart_11, django_list_data_chart_11,data_django_last_row);
            chart12 = createChar('line-chart-12', django_list_labels_chart_12, django_list_data_chart_12,data_django_last_row);
            chart13 = createChar('line-chart-13', django_list_labels_chart_13, django_list_data_chart_13,data_django_last_row);
            chart14 = createChar('line-chart-14', django_list_labels_chart_14, django_list_data_chart_14,data_django_last_row);
            chart15 = createChar('line-chart-15', django_list_labels_chart_15, django_list_data_chart_15,data_django_last_row);                        
        }
    </script>
    <script>
        $(document).ready(function(){
            $('#modalExample').modal('hide')   
            $('#modalFull').modal('hide')
            
            document.querySelector("span[name-best-forecast]").innerHTML += ": "+best_name_forecast
            tbody = document.querySelector("table[best-forecast] tbody tr")
            tbody.innerHTML="<td class='text-white font-size-18px-2c bg-dark'>"+prono_label+"</td>"
            thead = document.querySelector("table[best-forecast] thead tr")
            thead.innerHTML="<th class='text-white font-size-18px-2c bg-dark'>"+forecasts_labels_x+"</th>"
            for(i = 0;i < best_forecast.length;++i){
                tbody.innerHTML += "<td class='font-quicksand bg-light' style='color:#52524e;'>"+best_forecast[i]+"</td>"
                thead.innerHTML += "<td class='font-quicksand bg-light' style='color:#52524e;'>"+(i+1)+"</td>"
            }            
        });      
    </script>   
{% endblock %}