{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
    {% load static %}   
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/input-file-drag-drop/input-file-drag-drop.css' %}">
{% endblock %}

{% block content %}
        <section class="pb-4 col-md-5 offset-md-1 col-xl-5 offset-xl-2">
            <div id="drag-cloud" class="text-center mt-3">
                <i class="fas fa-cloud-upload-alt mt-4"></i>
                <p>Arrastra los archivos .exe aqui</p>
                <form action="{% url 'chart' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="file_input" id="file_input">  
                    </div>
                    <div class="form-group">
                        <input type="submit" id="drag-cloud-button" class="btn btn-outline-success" value="Enviar" disabled="disabled">  
                    </div>
                
                </form>  
            </div>
        </section>
        <section class="col-xl-5 col-md-6 col-sm-center" id="section-warning">
            <div class="card shadow" style="max-width:300px;">
                <div class="card-body text-center border border-info">
                <i class="fas fa-file-excel text-body" style="font-size:50px;"></i>
                <h5 class="card-title mt-2">
                    ¡ IMPORTANTE !
                </h5>
                <p class="card-text text-justify">El formato de los datos debe ser una hoja de excel donde a cada celda le corresponda un valor en pesos</p>
                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#modalExample">Ver Ejemplo</button>
                </div>
            </div>  
        </section>
            
        {% if session_message %}
            <section class="mt-3 mb-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{session_message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </section>   
        {% endif %}

        <div class="hr-line">&nbsp;</div>

        <section class="mt-4 text-center">
            <h4 class="font-montserrat font-size-30px">INFORMACIÓN</h4>
            <h5 class="font-raleway font-size-17px">Si no dispones de un archivo de excel con tus historicos de venta puedes crear uno manualmente <i class="fas fa-chevron-circle-down"></i></h5>  
        </section>
                        
        <section class="mt-4 center" style="margin-bottom: 180px;">
            <div class="position-relative shadow" style="width:80%;height:100%;">
                <img src="{% static 'core/img/form.png' %}" class="img-fluid shadow-sm rounded" alt="excel">
                <div style="width:100%;height:100%;position: absolute;top:0;left:0;background:#979299;opacity:0.7;" class="rounded center">
                &nbsp;
                <a class="btn btn-light btn-lg" href="{% url 'inputdata' %}">Crear una entrada</a>
                </div>
            </div>
        </section>

{% endblock %}

{% block modal %}
    <div class="modal fade" id="modalExample" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: rgba(0,0,0,0.75) !important;">
        <div class="modal-dialog" role="document" style="width: 80% !important;max-width: 80% !important;">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EJEMPLO ENTRADA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section class="text-center">
                    <img src="{% static 'core/img/example.png' %}" width="100%">   
                    <p class="text-muted"><small>Ejemplo de Entrada 1</small></p>
                    <img src="{% static 'core/img/example_2.png' %}" width="60%">
                    <p class="text-muted"><small>Ejemplo de Entrada 2</small></p>
                </section>
                
                <section class="mt-4">
                    <div class="container">
                        <h1 class=text-center>Información Importante</h1>
                        <p class="text-justify">Primer cosa a considerar es que por el momento solo se aceptan periodos de Años/Meses o Semanas/Dias tal 
                            y como se muestra en las imagenes de ejemplo, se aconseja empezar desde la columna A y la fila 1 en su 
                            archivo de excel, y solo se acepta un limite minimo de 2 filas ya sea en años o semanas y un maximo de 7,
                             ademas los Formatos de Archivos de Excel Permitidos son .xls, .xlsm,.xlsx, y .csv</p>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'core/vendor/input-file-drag-drop/input-file-drag-drop.js' %}"></script>
    <script src="{% static 'core/js/validate-input-file.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#modalExample').modal('hide')      
        });      
    </script>
{% endblock %}