{% extends 'core/base.html' %}

{% block title %} Metodos de Pronostico {% endblock %}

{% block styles %}
    {% load static %}   
    <link rel="stylesheet" href="{% static 'core/css/methods.css' %}">
{% endblock %}

{% block content %}
    <section>
        <h1 class="text-center font-titillium-shadow font-size-35px">METODOS DE PRONOSTICO</h1>
        <div class="hr-line"></div>
    </section>

    <section class="mt-5 center">        
        <ul class="list-group w-75 font-roboto font-size-17px-2c">
            <li class="list-group-item list-group-item-action align-items-center py-4">Metodo Lineal <i class="fab fa-telegram-plane float-right"></i></li>
            <li class="list-group-item list-group-item-action align-items-center py-4">Metodo Exponencial <i class="fab fa-telegram-plane float-right"></i></li>
            <li class="list-group-item list-group-item-action align-items-center py-4">Metodo Cuadratico <i class="fab fa-telegram-plane float-right"></i></li>
            <li class="list-group-item list-group-item-action align-items-center py-4">Promedio Movil N=2 <i class="fab fa-telegram-plane float-right"></i></li>
            <li class="list-group-item list-group-item-action align-items-center py-4">Promedio Movil N=3 <i class="fab fa-telegram-plane float-right"></i></li>
            <li class="list-group-item list-group-item-action align-items-center py-4">Suavización Exponencial Simple <i class="fab fa-telegram-plane float-right"></i></li>
            <li class="list-group-item list-group-item-action align-items-center py-4">Suavización Exponencial Doble <i class="fab fa-telegram-plane float-right"></i></li>
            <li class="list-group-item list-group-item-action align-items-center py-4">Winters <i class="fab fa-telegram-plane float-right"></i></li>
            <li class="list-group-item list-group-item-action align-items-center py-4">BOX & JENNKIN <i class="fab fa-telegram-plane float-right"></i></li>
        </ul>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        var TOKEN = "{{csrf}}"
        var data_request_django = "{{data|escapejs|safe}}"
        data_request_django = JSON.parse(data_request_django).join(";")
    </script>
{% endblock %}