{% extends "core/App/app.html" %}

{% block title %}MRP{% endblock title %}

{% block styles %}
    {% load static %} 
    <link rel="stylesheet" href="{% static 'core/css/header/header.css' %}">  
    <link rel="stylesheet" href="{% static 'core/vendor/table-excel/table-excel.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/mrp/mrpoutputdata/table-mrp.css' %}">       
{% endblock styles %}

{% block content %}
    {% include 'core/Navbar/Navbar.html' %}
    {% include "core/Mrp/Header/Header.html" with inputDataFlag=False %}
    {% include "core/Mrp/MrpSectionOutput/MrpSectionOutput.html" %}
    {% include 'core/Footer/Footer.html' %}
{% endblock content %}

{% block modal %}    
    {% include "core/Modal/Modal.html" with modalId="modalTables" modalBasePath="core/Modal/" modalHeaderPath="ModalMrp/ModalTablesMrpHeader.html" modalBodyPath="ModalMrp/ModalTablesMrp.html" %}
{% endblock %}

{% block scripts %} 
    <script>
        var mrp = JSON.parse("{{mrp|escapejs|safe}}")
        var tree = JSON.parse("{{tree|escapejs|safe}}")
        var tables = JSON.parse("{{tables|escapejs|safe}}")
        var periods_state = JSON.parse("{{periods_state|escapejs|safe}}")
        var leadFlag = JSON.parse("{{lead|escapejs|safe}}")
        var stockFlag = JSON.parse("{{stock|escapejs|safe}}")
        var QFlag = JSON.parse("{{Q|escapejs|safe}}")
        var TOKEN = "{{csrf}}"

        console.log(mrp)
        console.log(tree)
        console.log(tables)
        console.log(periods_state)
        console.log(leadFlag)
        console.log(stockFlag)
        console.log(QFlag)
        console.log("-----------------------")
        console.log(JSON.stringify(mrp))
        console.log(JSON.stringify(tree))
        console.log(JSON.stringify(tables))
    </script>

    <script src="{% static 'core/vendor/language-component/mrpoutputdata/language-dataset.js' %}"></script>
    <script src="{% static 'core/vendor/language-component/language-component.js' %}"></script>
    <script src="{% static 'core/helpers/Modal/modal-hidden.js' %}"></script>
    <script src="{% static 'core/helpers/Mrp/outputdata/fillDinamicMrpTableBody.js' %}"></script>
    <script src="{% static 'core/helpers/Mrp/outputdata/fillDinamicMrpTable.js' %}"></script>
    <script src="{% static 'core/helpers/Mrp/outputdata/fillBuyMasterPlan.js' %}"></script>
    <script src="{% static 'core/helpers/Mrp/outputdata/MrpOutputConstants.js' %}"></script>
    <script src="{% static 'core/helpers/Mrp/outputdata/MrpAccordionZoneCreator.js' %}"></script>
    <script src="{% static 'core/helpers/Navbar/mediaResize.js' %}"></script>
    <script src="{% static 'core/js/Http/link-to-post-link.js' %}"></script>
    <script src="{% static 'core/js/Prototype/ArraySum.js' %}"></script>
    <script src="{% static 'core/js/Triggers/formatMoney.js' %}"></script>
{% endblock scripts %}