{% extends "core/App/app.html" %}

{% block title %}MRP{% endblock title %}

{% block styles %}
    {% load static %} 
    <link rel="stylesheet" href="{% static 'core/css/header/header.css' %}">  
    <link rel="stylesheet" href="{% static 'core/css/mrp/mrpoutputdata/table-mrp.css' %}">       
{% endblock styles %}

{% block content %}
    {% include 'core/Navbar/Navbar.html' %}
    {% include "core/Mrp/Header/Header.html" with inputDataFlag=False %}
    {% include "core/Mrp/MrpSectionOutput/MrpSectionOutput.html" %}
    {% include 'core/Footer/Footer.html' %}
{% endblock content %}

{% block scripts %} 
    <script>/*
        var mrp = JSON.parse("{{mrp|escapejs|safe}}")
        var tree = JSON.parse("{{tree|escapejs|safe}}")
        var tables = JSON.parse("{{tables|escapejs|safe}}")
        var periods_state = JSON.parse("{{periods_state|escapejs|safe}}")
        var leadFlag = JSON.parse("{{lead|escapejs|safe}}")
        var stockFlag = JSON.parse("{{stock|escapejs|safe}}")
        var QFlag = JSON.parse("{{Q|escapejs|safe}}")

        console.log(mrp)
        console.log(tree)
        console.log(tables)
        console.log(periods_state)
        console.log(lead)
        console.log(stock)
        console.log(Q)
        console.log("-----------------------")
        console.log(JSON.stringify(mrp))
        console.log(JSON.stringify(tree))
        console.log(JSON.stringify(tables))
        */
        const mrp = JSON.parse( '{"producto":{"id":0,"title":"Producto A","key":"prod_0"},"componentes":[{"id":1,"title":"Componente B","key":"compo_1_1","edges":["prod_0"],"amount":{"prod_0":1},"amount_backup":[1]},{"id":2,"title":"Componente C","key":"compo_2_1","edges":["prod_0"],"amount":{"prod_0":1},"amount_backup":[1]}],"materia":[{"id":1,"title":"Materia Prima D","key":"mater_1_1","edges":["compo_1_1","compo_2_1"],"amount":{"compo_1_1":2,"compo_2_1":2},"amount_backup":[2,2]},{"id":2,"title":"Materia Prima E","key":"mater_2_1","edges":["compo_1_1","compo_2_1"],"amount":{"compo_1_1":2,"compo_2_1":2},"amount_backup":[2,2]}]}')
        const tree = JSON.parse( '{"name":"Producto A","key":"prod_0","children":[{"name":"Componente B (1)","children":[{"name":"Materia Prima D (2)","children":[],"key":"mater_1_1"},{"name":"Materia Prima E (2)","children":[],"key":"mater_2_1"}],"key":"compo_1_1"},{"name":"Componente C (1)","children":[{"name":"Materia Prima D (2)","children":[],"key":"mater_1_1"},{"name":"Materia Prima E (2)","children":[],"key":"mater_2_1"}],"key":"compo_2_1"}]}' )
        const tables = JSON.parse( '{"t_general":[[0,50,560,36,670,50,2100],[0,30,450,41,520,60,1200],[0,25,2000,20,600,65,600],[0,10,1200,35,2000,100,500],[0,15,2500,40,1000,150,500]],"t_forecast":[2850,950,825,500],"t_receptions":[[50,0,0,0],[1200,300,0,0],[500,0,0,0],[700,0,0,0],[0,130,0,0]]}' )
        const periods_state = 0
        const leadFlag = true
        const stockFlag = true
        const QFlag = true

        console.log(mrp)
        console.log(tree)
        console.log(tables)        
    </script>

    <script src="{% static 'core/helpers/Mrp/outputdata/fillDinamicMrpTableBody.js' %}"></script>
    <script src="{% static 'core/helpers/Mrp/outputdata/fillDinamicMrpTable.js' %}"></script>
    <script src="{% static 'core/helpers/Mrp/outputdata/MrpOutputConstants.js' %}"></script>
    <script src="{% static 'core/helpers/Mrp/outputdata/MrpAccordionZoneCreator.js' %}"></script>
    <script src="{% static 'core/helpers/Navbar/mediaResize.js' %}"></script>
    <script src="{% static 'core/js/Prototype/ArraySum.js' %}"></script>
{% endblock scripts %}