footer{
	background:#1e232a;
	min-height:390px;
	position:relative;
}

footer > section h4{
	color:orange;
	margin-bottom:15px;
}

footer > section a{color:white;}
footer > section a:hover{color:#8ec6f5;}