
#h1-pasos{
	margin-top:20px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

#aside-container{
	margin-top:30px !important;
	display: inline-block;
	height: 72% !important;
}

#aside-text-container{
	height: 100%;
	width:100%;
	margin-left:-13px !important;
}

#body-main-section{
	background:#f5f5f5;
	min-height: 100vh;
}

.navbar-toggler{
	background-color: #f5f5f5 !important;
}

@media (max-width:768px) {
	#section-warning{
		display: flex;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
}