#h1-pasos{
	margin-top:20px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

#aside-container{
	margin-top:30px !important;
	display: inline-block;
	height: 72% !important;
}

#aside-text-container{
	height: 100%;
	width:100%;
	margin-left:-13px !important;
}

#body-main-section{
	background:#f5f5f5;
	min-height: 100vh;
}

.navbar-toggler{
	background-color: #f5f5f5 !important;
}

h1.font-titillium-shadow{
	color: #5c5f6c;
}

ul > li.list-group-item{
	background: rgba(245,245,245,1) ;
	background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);	
	background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	color: #5c5f6c;
}

.list-group-item-action:hover, .list-group-item-action:focus{
	color: #495057;
	text-decoration: none;
	background: #dbe1e7;
}

i.fa-telegram-plane{
	font-size: 20px;
	color: #d2a6d4;
}