{% load get_request_parameters %}
{% get_current_parameters as parameters %}
{% load static %}
<nav class="center fixed-top">
        <div class="d-flex navbar-div">
            <a href="{% url 'index' %}{{parameters}}" class="navbar-brand-fixed">GUACA<span style="color:#8ec6f5;">STRATEGY</span></a>
            <ul class="list-inline center">
                <li><a href="{% url 'index' %}{{parameters}}">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'core/img/español.png' %}" style="width:20px;margin-top: -3px !important;" language-image="true"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button class="dropdown-item" style="cursor:pointer;" language="true" onclick="changeLanguage('ES')">Español <img src="{% static 'core/img/español.png' %}" width="32px"></button>
                        <button class="dropdown-item" style="cursor:pointer;" language="true" onclick="changeLanguage('EN')">Ingles <img src="{% static 'core/img/ingles.png' %}" width="32px"></button>
                    </div>
                </li>
            </ul>
        </div>

        <div id="nav-collapse-div">
            <button data-toggle="collapse" collapse="#div-list-01-collapse" class="btn">
                <i class="fas fa-angle-double-down font-size-12px;"></i>
            </button>
        </div>

        <div id="div-list-01-collapse">
            <ul>
                <li><a href="">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'core/img/español.png' %}" style="width:20px;margin-top: -3px !important;" language-image="true"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button class="dropdown-item" style="cursor:pointer;" language="true" onclick="changeLanguage('ES')">Español <img src="{% static 'core/img/español.png' %}" width="32px"></button>
                        <button class="dropdown-item" style="cursor:pointer;" language="true" onclick="changeLanguage('EN')">Ingles <img src="{% static 'core/img/ingles.png' %}" width="32px"></button>
                    </div>
                </li>
            </ul>
        </div>

</nav>