{% load get_request_parameters %}
{% get_current_parameters as parameters %}
{% load static %}
<nav class="navbar navbar-expand-lg fixed-top mp-0" style="min-height:52px;border-bottom:1px solid #6d6b65;background:black;">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRB" aria-controls="navbarRB" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="{% static 'core/img/Logo-nombre.jpg' %}" height="52px" class="ml-xl-2"/>
        <div class="collapse navbar-collapse" id="navbarRB">
            <ul class="navbar-nav font-gadugi letter-spacing-2px font-weight-bold ml-auto text-center pr-2">                
                <li class="center"><a href="{% url 'index' %}{{parameters}}" class="px-4 border-right font-size-14px" style="border-color:#3c3c3c !important;">HOME</a></li>
                <li class="center"><a href="{% url 'simplepronosinputdata' %}{{parameters}}" class="px-4 border-right font-size-14px" style="border-color:#3c3c3c !important;" language="true">PRONÓSTICO SIMPLE</a></li>
                <li class="center"><a href="{% url 'alphapronosinputdata' %}{{parameters}}" class="px-4 border-right font-size-14px" style="border-color:#3c3c3c !important;" language="true">PRONÓSTICO ALPHA</a></li>
                <li class="center"><a href="{% url 'mrpinputdata' %}{{parameters}}" class="px-4 border-right font-size-14px" style="border-color:#3c3c3c !important;">MRP</a></li>                
                <li class="center"><a href="{% url 'aboutus' %}{{parameters}}" class="px-4 border-right font-size-14px" style="border-color:#3c3c3c !important;" language="true">¿QUIENES SOMOS?</a></li>
                <li class="center"><a href="{% url 'contactus' %}{{parameters}}" class="px-4 font-size-14px" language="true">CONTACTO</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'core/img/español.png' %}" style="width:20px;margin-top: -3px !important;" language-image="true">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <button class="dropdown-item" style="cursor:pointer;" language="true" onclick="changeLanguage('ES')">Español <img src="{% static 'core/img/español.png' %}" width="32px"></button>
                        <button class="dropdown-item" style="cursor:pointer;" language="true" onclick="changeLanguage('EN')">Ingles <img src="{% static 'core/img/ingles.png' %}" width="32px"></button>
                    </div>
                </li>
            </ul>
        </div>

</nav>