
.home-image-bg-stock{
    background-image: linear-gradient(to right,rgb(194, 192, 113) 0%,rgb(0, 148, 148) 100%),url('../../img/background-05.jpg');
    background-position: 50% 80%;
    background-blend-mode: multiply;
    position:relative;
}

.home-image-bg-stock > div{
    position:absolute;
    top:0;
    left:0;
    background:rgba(255,255,255,0.25);
}