
.home-image-bg-stock{
    background-image: linear-gradient(to right,rgb(194, 192, 113) 0%,rgb(0, 148, 148) 100%),url('../../img/fabrica.jpg');
    background-position: 50% 80%;
    background-blend-mode: multiply;
    position:relative;
}

.home-image-bg-stock > div{
    position:absolute;
    top:0;
    left:0;
    background:rgba(255,255,255,0.25);
}

.home-section0-img{
    background-image:url('../../img/a/k.jpg');
    background-size: 50% 100%;
}
.home-section1-img{
    background-image:url('../../img/a/h.jpg');
    background-size: 25% 100%;
}
.home-section2-img{
    background-image:url('../../img/a/Pronosticos simples.jpg');
}
.home-section3-img{
    background-image:url('../../img/a/f.jpg');
    background-size: 25% 100%;
}

@media (max-width: 1140px){
    .home-section1-img{background-size:50% 100%;}
    .home-section3-img{background-size:100% 100%;}
    .home-section0-img{background-size:100% 100%;}
}
@media (max-width: 720px){
    .home-section1-img{background-size:100% 100%;}
    .home-section3-img{background-size:auto;background-repeat: repeat;}
    .home-section0-img{background-size:auto;background-repeat: repeat;}
}